<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video Stream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--external stylesheets-->

    <!--internal stylesheets-->
    <link rel="stylesheet" href="index.css">

    <!--external javascripts-->

    <!--internal javascripts-->
    <script src="libs/jquery-3.4.1.min.js"></script>


</head>

<body>
    <video id="videoPlayer" controls>
        <source src="http://localhost:8080/mp4video" type="video/mp4">
    </video>
</body>

</html>