<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video Stream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--external stylesheets-->

    <!--internal stylesheets-->
    <link rel="stylesheet" href="video.css">

    <!--external javascripts-->

    <!--internal javascripts-->
    <script src="libs/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#videoPlayer').html('<source src="http://' + location.hostname + ':8080/stream" type="video/mp4">')
        });
    </script>


</head>

<body>
    <video id="videoPlayer" controls>
        
    </video>
</body>

</html>