<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video Stream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--external stylesheets-->

    <!--internal stylesheets-->
    <link rel="stylesheet" href="video.css">

    <!--external javascripts-->

    <!--internal javascripts-->
    <script src="libs/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            let player = "";
            if (window.location.search.substring(1) == 'mp4') {
                player = '<source src="http://' + location.hostname + ':8080/stream" type="video/mp4">';
            } else {
                player = '<source src="http://' + location.hostname + ':8080/stream" type="video/webm">';
            }
            $('#videoPlayer').append(player);
        });
    </script>
</head>

<body>
    <video id="videoPlayer" controls></video>
</body>

</html>